body {
  font-family: 'Ubuntu';
}

.header {
  width: 100%;
  height: 40px;
  border-bottom: solid 2px #eee;
}

h1.title {
  float: left;
  width: 80%;
  margin: 0;
  margin-left: 10%;
  text-align: center;
}

img.github {
  float: right;
  width: 32px;
  height: 32px;
  margin-top: 4px;
  margin-right: 4px;
}

h2 {
  text-align: center;
  padding-bottom: 5px;
  border-bottom: solid 1px #eee;
  margin-top: 0;
  margin-bottom: 5px;
}

canvas {
  position: absolute;
  top: 55px;
  left: 0;
}

.interface {
  width: 20%;
  position: fixed;
  top: 500px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.8);
  border: solid 1px #eee;
  border-radius: 10px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.interface * {
  padding: 5px;
}

.interface .double {
  grid-column: 1 / span 2;
}

#answer {
  font-size: 1.2em;
}

#status {
  min-height: 1.1em;
  font-size: 1.1em;
}

.interface button {
  font-size: 1.1em;
}
